input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dataPerfil {
    display: flex;
    width: 650px;
    padding: 5vh;
    margin: 10vh auto;
    border-radius: 75px;
    border:solid black 4px;
    justify-content: center;
    align-items: center;
}

.inputsRes{
    margin:auto;
    width: 60vw;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inputInfo{
    margin-left: 10px;
    width:250px
}

.error, .errorRes{
    margin-left: 10px;
    margin-bottom: 5px;
    font-size:14px;
    width:300px
}

.errorRes{
    display: none;
}

.iconoEditarPerfil, .iconoEditarPerfilRes {
    cursor: pointer;
}

.iconoEditarPerfilRes{
    display: none;
}

.publicacion {
    padding:15px;
    align-items: center;
    text-decoration: none;
    color: #000;
    max-width:90%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin:auto;
    margin-bottom: 4vh;
    border-radius: 20px;
}

.fotoPerfil {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    margin:0;
    margin-left: 25px;
}

.descPerfil {
    max-width:425px;
    font-size: x-large;
    margin: 0 3vw;
}

.icono {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 2vh;
}

textarea {
    resize: none;
}

.input, .inputRes{
    margin: 2px 0;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.inputRes{
    display:none;
}

.item {
    display: flex;
    width:70vw;
    font-size: xx-large;
    margin: auto;
    text-align: center;
}

.mat-icon {
    margin: 0 10px;
    cursor: pointer;
}

.containerInfo {
    display: flex;
}

.infoPerfil {
    width:250px;
    padding-bottom: 2px;
    display: inline;
}

.infoPerfilRes{
    width: 100%;
}

.titulo {
    width: 100%;
    border-top: dashed 1px black;
    padding-top: 30px;
    font-size: xx-large;
    justify-content: center;
    display: flex;
}

.tItem {
    font-size: 30px;
    margin: 0 10px;
    margin-bottom: 20px;
}

.texto{
    overflow: hidden;
}

.dItem, .arItem, .eItem{
    font-size:20px;
}

.dItem{
    height:20px;
    max-width: 97%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 10px;
    opacity: 0.7;
    margin-bottom: 20px;
    display: inline-block;
}
.inputRes{
    margin:7px;
    display:none;
}

.infoPerfilRes{
    display:none;
}

@media(max-width: 750px){
    .error{
        display: none;
    }
    .errorRes{
        width: 95%;
        text-align: center;
        display: block;
    }
    .iconoEditarPerfilRes{
        display: inline-block
    }
    .dataPerfil{
        width: 90vw;
        padding: 2vw;
        border-radius: 35px;
    }
    .fotoPerfil{
        width: 30vw;
        height: 30vw;
    }
    .descPerfil{
        font-size:16px;
        width: 50%;
        margin:0;
    }
    .input{
        display:none;
    }
    .infoPerfilRes{
        display:block;
    } 
    .inputRes{
        display:block
    }
    .dataPerfil{
        margin-bottom: 50px;
    }
    .inputsRes{
        display:block;
        margin-bottom: 25px;
    }
    .item{
        width: 90%;
    }
}