
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login-container">
        <div class="login">
            <p id="title">Inicio de sesión</p>
            <input id="nombre" #nombre placeholder="Nombre de usuario">
            <input id="pw" #pw type="password" placeholder="Contraseña">
            <div>
                <button style="margin-right: 0;" class="btn" (click)="login(nombre.value,pw.value)">Iniciar sesión</button>
                <button style="margin-left: 0;" class="btn" routerLink="/register">¿No tenés cuenta?</button>
            </div>
            <p id="error" style="color: red;">{{error}}</p>
        </div>
    </div>
</body>
</html>