body {
    margin: 0;
}

textarea{
    resize: none;
}

#todo {
    box-shadow: 2px 2px 2px 2px gray;

    border-radius: 20px;

    width: 70vw;

    margin-left: 15vw;
    margin-right: 15vw;

    margin-top: 40px;
    margin-bottom: 20px;
}

#fotoDatos {
    display: flex;
    border-bottom: 1px solid rgb(214, 214, 214);
}

#foto {
    height: 270px;
    width: 400px;
    object-fit: cover;

    border-top-left-radius: 20px;
}

#datos {
    width: calc(70vw - 400px);
    height: 230px;
    padding: 10px;

    overflow: hidden;
}

.textoDatos {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Límite de dos líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#tags {
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;

    display: flex;
    width: 100%;

    scroll-behavior: smooth;
}

#tag {
    background-color: rgb(214, 214, 214);
    padding: 2px;
    border: gray 1px solid;
    border-radius: 2000px;
    margin: 5px;
    cursor: pointer;

    &:hover {
        background-color: gray;
    }
}

#descripcion {
    padding: 10px;

    border-bottom: 1px solid rgb(214, 214, 214);
}

#cierreAportar {
    width: calc(100% - 20px);
    padding: 10px;
    display: flex;
    justify-content: right;
}

#cierre {
    height:40px;
    padding-top:20px;
    margin-right: 20px;
    vertical-align: middle;
    margin-bottom: 0;
    font-size:18px;
}

#aportar {
    display: inline;
    float: right;

    margin-left: auto;
    margin-right: 0;

    margin-top: 10px;
    margin-bottom: 10px;

    padding: 5px;

    background-color: white;

    border: 1px solid black;
    border-radius: 20px;

    cursor: pointer;

    &:hover {
        background-color: rgb(182, 182, 182);
    }
}

#noAportar {
    display: inline;

    margin-left: auto;
    margin-right: 0;

    margin-top: 10px;
    margin-bottom: 10px;

    padding: 5px;

    background-color: rgb(129, 129, 129);
    color: white;

    border: 1px solid black;
    border-radius: 20px;

    cursor: pointer;
}

#errorLogin {
    width: fit-content;
    color: red;
}

.contAporte {
    padding: 3vh 0;
    background: #fff;
    border: 2px solid #000;
    width: 40vw;
    max-height: 320px;
    text-align: center;
}

.textoAporte{
    margin-bottom: 3vh;
}

.contAporte h2{
    margin-bottom: 2vh;
}

.error{
    color:red;
}

.success{
    color:green;
}

.contAporte button {
    background: transparent;
    padding: 10px;
    border: solid black 1px;
    width:70px;
    margin:8px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.contAporte button:hover{
    transition: 0.3s;
    background-color: rgb(200,200,200);
}

.overlay {
    padding-top: 30vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    padding-left: 30vw;
    padding-right: 30vw;
    z-index: 999;
}

.contTag {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

#inputTitulo{
    width: 80%;
    height: 20px;
    margin-bottom: 5px;
}

#inputDescripcion{
    width:80%;
    height:60px;
    margin-bottom: 15px;
}

@media (max-width: 1000px){
    .contAporte{
        width:60vw;
    }
    .overlay{
        padding-left:20vw;
        width:100%;
        height:100%;
        padding-top:30vh;
    }
}

@media (max-width: 700px) {

    #fotoDatos {
        text-align: center;
        display: block;
    }

    #datos {
        width: 100%;
        text-align: left;
    }

    #foto {
        border-top-right-radius: 20px;

        width: 100%;
    }

    #todo {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .contAporte{
        width:75vw;
    }
    .overlay{
        padding-left:10vw;
        width:100%;
        height:100%;
        padding-top:30vh;
    }
    #inputAporte{
        width:100%;
        display:block;
        text-align: center;
    }
}