<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <title>Eventos</title>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <div class="nav" style="height: 70px;">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        <img id="imagenLogo" src="../../assets/UTN-logo.png" style="width: 150px;">
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check" style="height: 70px;">
        <div style="height: 10px;"></div>
        <span style="border-color: black;"></span>
        <span style="border-color: black;"></span>
        <span style="border-color: black;"></span>
      </label>
    </div>

    <div class="nav-links">
      <a *ngIf="!logeado" routerLink="/login">Inicio Sesion</a>
      <a *ngIf="logeado" (click)="verUsuarios()">Investigadores</a>
      <a *ngIf="logeado" (click)="verEventos()">Eventos</a>
      <a *ngIf="logeado" (click)="verLugares()">Lugares</a>
      <a *ngIf="botonAdmins" (click)="verAdmins()">Administradores</a>
      <a *ngIf="logeado" (click)="cerrarSesion()">Cerrar sesión</a>
    </div>
  </div>

  <div *ngIf="usuarios" class="usuarios-container">
    <div class="usuarios">
      <p id="title">Ingreso de investigadores</p>
      <input #mail id="mail" placeholder="Correo" type="mail">
      <input #nameInvestigador id="name" placeholder="Nombre">
      <div class="2">
        <input #passwordInvestigador id="password" placeholder="Contraseña" type="password">
      </div>
      <input (change)="onFileSelected($event)" #foto id="foto" type="file">
      <button (click)="ingresarInvestigador(nameInvestigador.value, mail.value, passwordInvestigador.value);"
        id="btn">Ingresar
        usuario</button>
      <p>{{mensajeIngresoUsuario}}</p>
    </div>
    <div class="usuarios">
      <p id="title">Modificar investigador</p>
      <input #nameInvestigadorModify id="name" placeholder="Nombre del usuario a modificar">
      <input #mailModify id="mail" placeholder="Correo nuevo" type="mail">
      <div class="2">
        <input #passwordInvestigadorModify id="password" placeholder="Contraseña nueva" type="password">
      </div>
      <input (change)="onFileSelected($event)" #foto id="foto" type="file">
      <button
        (click)="modificarInvestigador(nameInvestigadorModify.value, mailModify.value, passwordInvestigadorModify.value);"
        id="btn">Ingresar
        usuario</button>
      <p>{{mensajeModificarUsuario}}</p>
    </div>
    <div class="usuarios">
      <p id="title">Borrar Investigadores</p>
      <input #usuarioBorrar id="name" placeholder="Nombre">
      <button (click)="borrarInvestigador(usuarioBorrar.value)" id="btn">Borrar Investigador</button>
      <p>{{mensajeBorrarUsuario}}</p>
    </div>
    <div class="usuarios">
      <p id="title">Ver Investigadores</p>
      <button (click)="verInvestigadores()" id="btn">Ver Investigadores</button>
      <table *ngIf=getInvestigadores>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Foto de perfil</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaInvestigadores; let i = index" [attr.data-index]="i">
            <td>{{listaInvestigadores[i].nombre}}</td>
            <td>{{listaInvestigadores[i].correo}}</td>
            <td> <img class="foto" src="{{urlApiImagenes}}{{listaInvestigadores[i].fotoPerfil}}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="eventos" class="usuarios-container">
    <div class="usuarios">
      <p id="title">Ingreso de eventos</p>
      <input #nombreEvento id="name" placeholder="Nombre">
      <input #fecha id="mail" placeholder="Fecha">
      <input #fechaCierre id="password" placeholder="Fecha de cierre de convocatoria">
      <input #tag id="lostags" placeholder="Tags">

      <button (click)="agregarTag(tag.value)">Agregar tag</button>
      <table>
        <thead>
          <tr>
            <th>tags</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaTags; let i = index" [attr.data-index]="i">
            <td>{{listaTags[i]}}</td>
          </tr>
        </tbody>
      </table>
      <button (click)="vaciarTags()">Vaciar lista de tags</button>
      <textarea #descripcion id="descripcion" placeholder="Descripcion"></textarea>
      <select id="lugares" name="lugares" (change)="seleccionarOpcion($event)">
        <option *ngFor="let lugar of listaDelugares; let i = index" [value]="i">{{ lugar }}</option>
      </select>
      <button id="btn"
        (click)="ingresarEvento(nombreEvento.value, fecha.value, fechaCierre.value, descripcion.value)">Ingresar
        evento</button>
      <p>{{mensajeIngresoEventos}}</p>
    </div>
    <div class="usuarios">
      <p id="title">Borrar eventos</p>
      <input #eventoBorrar id="name" placeholder="Id">
      <button (click)="borrarEvento(eventoBorrar.value)" id="btn">Borrar evento</button>
      <p>{{mensajeBorrarEvento}}</p>
    </div>
    <div class="usuarios">
      <p id="title">Ver evento</p>
      <input #idEvento id="name" placeholder="Id">
      <button (click)="getEvento(idEvento.value)" id="btn">Ver evento</button>
      <div class="evento" id="todo" *ngIf="getListaEvento">
          <div id="fotoDatos">
              <img id="foto" src={{urlApiImagenes}}{{evento.fotoLugar}} >
              <div id="datos">
                  <h2 class="textoDatos">{{evento.nombre}}</h2>
                  <h4 class="textoDatos">Fecha del evento: {{evento.fecha}}</h4>
                  <h4 class="textoDatos">Lugar del evento: {{evento.lugarDesarrollo}}</h4>
                  <h4 class="textoDatos">Direccion del evento: {{evento.direccion}}</h4>
              </div>
              <p id="descripcion">{{evento.descripcion}}</p>
          </div>
            <div class="contribuciones" *ngFor="let contribucion of evento.contribuciones; let i = index" [attr.data-index]="i">
                <h2>{{contribucion.titulo}}</h2>
                <p>Autor: {{contribucion.nombreUsuario}}</p>
                <p>{{contribucion.descripcion}}</p>
                <p>Contribucion: <a href={{urlApiArchivos}}{{contribucion.contribucion}}>{{urlApiArchivos}}{{contribucion.contribucion}}</a></p>
                <p>{{contribucion.estado}}</p>
                <select id="lugares" name="lugares" (change)="seleccionarEstado($event)">
                  <option *ngFor="let opcion of opciones; let i = index" [value]="i">{{ opcion }}</option>
                </select><br>
                <button (click)="cambiarEstado(evento._id, contribucion.nombreUsuario)" id="btn">Cambiar estado</button>
                {{mensajeModificarEstado}}
              </div>
      </div>
    </div>
    <div class="usuarios">
      <p id="title">Ver eventos</p>
      <button (click)="getEventos()" id="btn">Ver Investigadores</button>
      <table *ngIf=listaEventos>
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Cierre de convocatoria</th>
            <th>Lugar de desarrollo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaDeEventos; let i = index" [attr.data-index]="i">
            <td>{{listaDeEventos[i]._id}}</td>
            <td>{{listaDeEventos[i].nombre}}</td>
            <td>{{listaDeEventos[i].fecha}}</td>
            <td>{{listaDeEventos[i].fechaCierreConvocatoria}}</td>
            <td>{{listaDeEventos[i].lugarDesarrollo}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div *ngIf="lugares" class="usuarios-container">
    <div class="usuarios">
      <p id="title">Ingreso de lugares</p>
      <input #nombreLugar id="mail" placeholder="Nombre">
      <input #direccionLugar id="name" placeholder="Direccion" multiple>
      <input (change)="onFileSelectedLugar($event)" #fotoLugar id="foto" type="file" accept=".jpg, .jpeg, .png, .webp">
      <button (click)="ingresarLugar(nombreLugar.value, direccionLugar.value)" id="btn">Ingresar lugar</button>
      <p>{{mensajeIngresoLugares}}</p>
    </div>
    <div class="usuarios">
      <p id="title">Borrar lugar</p>
      <input #lugarBorrar id="name" placeholder="Id">
      <button (click)="borrarLugar(lugarBorrar.value)" id="btn">Borrar lugar</button>
      <p>{{mensajeBorrarLugar}}</p>
    </div>
    <div class="usuarios">
      <p id="title">Ver lugar</p>
      <input #lugarVer id="name" placeholder="Id">
      <button (click)="getLugar(lugarVer.value)" id="btn">Ver lugar</button>
      <table *ngIf=getListaLugar>
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Foto</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{lugar.lugar._id}}</td>
            <td>{{lugar.lugar.nombre}}</td>
            <td>{{lugar.lugar.direccion}}</td>
            <td> <img class="foto" src="{{urlApiImagenes}}{{lugar.lugar.fotoLugar}}"></td>
          </tr>
        </tbody>
      </table>
      <p>{{mensajeVerLugar}}</p>
    </div>
    <div class="usuarios">
      <p id="title">Ver lugares</p>
      <button (click)="getLugares()" id="btn">Ver lugares</button>
      <table *ngIf=getListaLugares>
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Foto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaLugares.lugares; let i = index" [attr.data-index]="i">
            <td>{{listaLugares.lugares[i]._id}}</td>
            <td>{{listaLugares.lugares[i].nombre}}</td>
            <td>{{listaLugares.lugares[i].direccion}}</td>
            <td> <img class="foto" src="{{urlApiImagenes}}{{listaLugares.lugares[i].fotoLugar}}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>




  <div *ngIf="admins" class="usuarios-container">
    <div class="usuarios">
      <p id="title">Ingreso de administradores</p>
      <input #nameAdministrador id="name" placeholder="Nombre">
      <div class="2">
        <input #passwordAdministrador id="password" placeholder="Contraseña" type="password">
      </div>
      <button class="btn btn-danger" #esSuper id="botonSuper" (click)="audisio()">Puede ingresar
        administradores</button>
      <button id="btn" (click)="ingresarInvestigadores(nameAdministrador.value, passwordAdministrador.value)">Ingresar
        administrador</button>
      <p>{{mensajeIngresoAdmin}}</p>
    </div>
    <div class="usuarios">
      <p id="title">Borrar Investigadores</p>
      <input #AdminBorrar id="name" placeholder="Nombre">
      <button (click)="borrarAdministrador(AdminBorrar.value)" id="btn">Borrar Investigador</button>
      <p>{{mensajeBorrarUsuario}}</p>
    </div>
    <div class="usuarios">
      <p id="title">Ver Investigadores</p>
      <button (click)="verAdministradores()" id="btn">Ver Investigadores</button>
      <table *ngIf=getAdministradores>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Es super</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaAdministradores; let i = index" [attr.data-index]="i">
            <td>{{listaAdministradores[i].nombre}}</td>
            <td>{{listaAdministradores[i].esSuper}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</body>

</html>